<div style="text-align:center" class="container">
    <header>
        <div class="avatar">
            <img src="../assets/bot.png" alt="">
        </div>
        <p>APA Chatbot</p>
        <span>American Psychological Association</span>
    </header>
    <main #chart>
        <app-bubble *ngFor="let msg of chatMessages" [type]="msg.type" [text]="msg.message"></app-bubble>
    </main>
    <footer>
        <app-message-input (userMessage)="onUserMessage($event)"></app-message-input>
    </footer>
</div>
